.home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.home-pic {
  height: 40vmin;
  border-radius: 50%;
}

.home-name {
  margin-top: 10vh;
  font-size: calc(1.5em + 2vmin);
}

.home-linked {
  font-size: 1.2em;
}

.home-a {
  color: #1ad1ff;
  text-decoration: none;
}

.home-a:active {
  color: white;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-header {
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/